body {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.backdrop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    background-color: #235;
}

.page {
    position: relative;
    top: 66px;
    width: 90%;
    max-width: 1306px;
    min-width: 450px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/masthead2.jpg);
    background-size: 1306px;
    background-repeat: no-repeat;
    background-color: white;
}

.leaf-logo {
    margin: 5px 0 0 5px;
}

.top-logo {
    margin: 8px;
    position: absolute;
    top: -63px;
    right: 0;
}

.nav-bar {
    float: right;
    margin: 15px 20px;
}

.nav {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    text-color: white;
    color: white;
    padding-left: 30px;
    text-shadow: 0 0 5px black;
}

.nav:hover {
    text-shadow: 0 0 0;
}

.main-body {
    position: relative;
    top: 100px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.panel-container {
    width: 47%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px 20px 10px;
}

.reflection {
  width: 100%;
  height: 50px;
  background: #fff;
  opacity: 0.25;
  border-radius: 0 0 50% 50%;
  -moz-border-radius: 0 0 50% 50%;
  -webkit-border-radius: 0 0 50% 50%;
}

.home-panel {
    position: relative;
    display: block;
    text-decoration: none;
    color: black;
    text-color: black;
    min-width: 350px;
    height: 200px;
    border: 1px solid white;
    background-color: white;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
}

.home-panel:hover {
    box-shadow: 0 0 5px 3px #fff;
}

.home-panel:active {
    top: 2px;
    left: 2px;
}

.home-panel h3 {
    position: absolute;
    top: 10px;
    width: 100%;
    text-shadow: 1px 1px #eee;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.home-panel:hover .reflection {
    opacity: 0.45;
}

.icon {
    text-shadow: 1px 1px #eee;
    opacity: 0.2;
    position: absolute;
    left: 15px;
    top: 55px;
    font-size: 128px;
}

.panel-descr {
    position: absolute;
    top: 72px;
    padding: 5px 25px;
    margin-left: 128px;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 17px;
}

.referral-panel {
background: rgb(255,168,76); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,168,76,1) 22%, rgba(255,123,13,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(22%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,168,76,1) 22%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,168,76,1) 22%,rgba(255,123,13,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,168,76,1) 22%,rgba(255,123,13,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,168,76,1) 22%,rgba(255,123,13,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.how-to-panel {
background: rgb(169,228,247); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(169,228,247,1)), color-stop(100%,rgba(15,180,231,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.panel-title {
    margin: 0;
}

.footer {
    position: relative;
    margin-top: 100px;
}

.divider {
    text-align: center;
    color: #ddd;
    text-shadow: -1px -1px #777;
    padding: 1.5em;
    font-size: 20px;
}

.copyright {
    font-family: Georgia, serif;
    font-size: 12px;
    color: #444;
    text-align: center;
}

.dctv-logo {
    float: left;
}

.dtinet-logo {
    float: right;
}

/* Child pages */

.child-backdrop {
    height: 200px;
}

.child-page {
    background-image: url(../img/masthead.jpg);
    background-size: 1306px;
    background-repeat: no-repeat;
}

.child-body {
    position: relative;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 1px 12px 50px 12px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    font-family: Georgia, serif;
    font-size: 18px;
}

.child-body p {
    margin-left: 1.25em;
    margin-right: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma, Helvetica, sans-serif;
}

h1 {
    font-size: 26px;
}

.child-footer {
    position: relative;
    top: -50px;
    margin-top: 0;
}

.category-title {
    margin: 5px 0;
    font-size: 16px;
    font-style: italic;
    color: #555;
}

.category-icon {
    width: 64px;
    height: 64px;
    border: none;
}

.category {
    display: inline-block;
    padding: 15px 5px;
    width: 18%;
    min-width: 80px;
    text-decoration: none;
    text-align: center;
    color: black;
    text-color: black;
    font-size: 14px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.category:hover {
    border: 4px solid #eee;
    padding: 11px 1px;
}

.category-selected, .category-selected:hover {
    border: none;
    padding: 15px 5px;
    background-color: #65b7ec;
}

.business-template {
    display: none;
}

.business {
    margin: 1.5em;
}

.business .fn {
    font-weight: bold;
}
